<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hulk Smash</title>
</head>
    
<body>
    <h1>Required Routes</h1>
    <ul>
        <li><a href = {{ url_for( 'index' ) }}>
            Index
        </a></li>
        
        <li><a href = {{ url_for( 'testing' ) }}>
            List Tables
        </a></li>
        
        <li><a href = {{ url_for( 'creating' ) }}>
            Create
        </a></li>
        
        <li><a href = {{ url_for( 'inserting' ) }}>
            Insert
        </a></li>
        
        <li><a href = {{ url_for( 'selecting' ) }}>
            Select
        </a></li>
        
        <li><a href = {{ url_for( 'dropping' ) }}>
            Drop
        </a></li>
    </ul>
    
    <h1>Exercise Details</h1>
    <ul>
        <li><a href = {{ url_for( 'get_page_exercise_details', exercise_id = 0 ) }}>
            Bicep Curl Details
        </a></li>
        
        <li><a href = {{ url_for( 'get_page_exercise_details', exercise_id = 1 ) }}>
            Rows Details
        </a></li>
        
        <li><a href = {{ url_for( 'get_page_exercise_details', exercise_id = 2 ) }}>
            Squats Details
        </a></li>
        
        <li><a href = {{ url_for( 'get_page_exercise_details', exercise_id = 3 ) }}>
            Sit-Ups Details
        </a></li>
        
        <li><a href = {{ url_for( 'get_page_exercise_details', exercise_id = 4 ) }}>
            Running Details
        </a></li>
    </ul>
    
    <h1>Login</h1>
    <ul>
        <li><a href = {{ url_for( 'get_user_favorites', username = 'LeBron', email = 'KingJames@nba.com' ) }}>
            Login LeBron
        </a></li>
        
        <li><a href = {{ url_for( 'get_user_favorites', username = 'Kobe', email = 'BeanBryant@nba.com' ) }}>
            Login Kobe
        </a></li>
        
        <li><a href = {{ url_for( 'get_user_favorites', username = 'Tom Brady', email = 'DeflateGate@nfl.com' ) }}>
            Login Brady
        </a></li>
    </ul>
    
    <h1>User Favorites</h1>
    <ul>
        <li><a href = {{ url_for( 'get_user_favorites', user_id = 23 ) }}>
            LeBron's Favorites
        </a></li>
        
        <li><a href = {{ url_for( 'get_user_favorites', user_id = 24 ) }}>
            Kobe's Favorites
        </a></li>
        
        <li><a href = {{ url_for( 'get_user_favorites', user_id = 12 ) }}>
            Brady's Favorites
        </a></li>
    </ul>
</body>
</html>